
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92% );
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#container {
    width: 450px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.img {
    background: url(images/image-product-desktop.jpg) center;
    background-size: 100% 100%;
    height: inherit;
    width: 225px;
    border-radius: 10px 0 0 10px;
}

.info {
    width: auto;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    height: inherit;
    gap: 15px;
}

h1.b, p.b { display: none; }    

p, span {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap: 15px;
}

h2 {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

span {
    text-decoration: line-through;

}

.click {
    width: 150px;
    height: 6vh;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white; 
    margin:0 auto 0 auto;
}

.click:hover {
    background-color: hsl(212, 21%, 14%);
}

.click>button {
    border: none;
}

.click>img {
    width: 25px;
    height: 25px;
}

@media (max-width:375px) and (max-width: 800px) {

    body{ height:580px; min-width: 100%; justify-content: center; align-items: center;}
    .img{
        background: url(images/image-product-mobile.jpg)  no-repeat;    background-size: 100% 100%;
        width: 350px;   height: 250px;   border-radius: 10px 10px 0 0;
    }
    #container{
        display: grid;      height: auto;       width: auto;  margin: auto;
    }
    .info { height: 350px;}
    p {font-size: 16px;}
    h1.a { display: none; }     p.a { display: none; }     
    h1.b { display: block; }     p.b { display: block; }

    .click { width: 300px; height: 30px;}
}